.bottle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media screen and (max-width:576px ) {
    .bottle-container {
      grid-template-columns: repeat(1, 1fr);
    }

    .box-container{
        display: grid;
        grid-template-columns: repeat( 1, 0.1fr );
         gap: 10px; 
      
        
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
  
    .bottle-container  {
       grid-template-columns: repeat(1, 1fr);  
     }

     .bottle-container{
        display: grid;
        grid-template-columns: repeat( 2, 0.1fr );
         gap: 10px; 
       

     }
    }